{{>partials/header}}

    {{#user.status}}
      Olá {{ user.name }}, vimos que voce tem {{ user.age }} anos
    {{/user.status}}

    <hr/>

    <h2>Endereços</h2>

    <ul>
    {{#user.address}}
      <li>{{.}}</li>
    {{/user.address}}
    {{^user.address}}
      <p>Sem endereços cadastrados</p>
    {{/user.address}}
    </ul>

    

    <hr/>

    <h2>Produtos</h2>

    <ul>
    {{#user.products}}
     {{>partials/productItem}}
    {{/user.products}}
    </ul>

    <h2>Produtos a partir de 12 reais</h2>

    <ul>
    {{#user.expansivesProducts}}
     {{>partials/productItem}}
    {{/user.expansivesProducts}}
    </ul>
  
  

  {{>partials/footer}}