{{>partials/header}}

<h2>Qual ano você nasceu?</h2>
<form method="POST" action="/idade-resultado">
  <input type="number" name="ano" placeholder="Digite o ano" />
  <input type="submit" value="Enviar">
 {{#mostrarIdade}} 
  <hr/>
  Olá, você tem {{idade}} anos.
{{/mostrarIdade}} 

{{>partials/footer}}